<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>PPA珠宝</title>
    <link rel="stylesheet" href="../src/css/comment.css">
    <link rel="stylesheet" href="../src/icon/iconfont.css">
    <script src="../node_modules/amfe-flexible/index.js"></script> 
</head>

<body>
    <!-- footer 区域 -->
    <footer>
        <div class="brand-info">
            <div class="company-info">
                <h3>品牌介绍</h3>
                <div class="dec">
                    <p>广场位于深圳罗湖区水贝商业圈中轴核心区，</p>
                    <p>是深圳黄金珠宝产业聚集地最重要的交易、文化、信息交流平台。</p>
                </div>
                <p><i class="iconfont icondizhi"></i>广场位于深圳罗湖区水贝商业圈中轴核心区</p>
                <p><i class="iconfont iconStone-mail-open"></i>*******@gmail.com</p>
                <p><i class="iconfont icondianhua"></i>0755-88888888</p>
            </div>
            <div class="map">
                <h3>分店分布</h3>
                <img src="../src/images/index/index-map.jpg" alt="">
            </div>
            <div class="share">
                <h3>关注我们</h3>
                <div>
                    <i class="iconfont iconweixin"></i>
                    <i class="iconfont iconweibo"></i>
                </div>
                <p>礼物，一种更完美的情感表达方式</p>
                <div class="language">
                    <a href="#">中文</a>
                    <a href="#">English</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>版权所有 ©2018 北PPA珠宝股份有限公司 010-67133013 粤ICP备13022809号-1 京公网安备11010102001976</p>
        </div>
    </footer>
</body>

</html>