<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>PPA珠宝</title>
    <link rel="stylesheet" href="../src/css/comment.css">
    <link rel="stylesheet" href="../src/icon/iconfont.css">
    <script src="../node_modules/amfe-flexible/index.js"></script>

    
</head>

<body>
    <!-- top nav 栏区域 -->
    <div class="nav-wrap">
        <div class="container">
            <div class="ppa-logo">
                <img src="../src/images/index/logo.jpg" alt="PPA珠宝">
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="http://www.baidu.com" target="_top">品牌介绍<i class="iconfont iconjiantou"></i></a></li>
                    <li><a href="#">资讯中心<i class="iconfont iconjiantou"></i></a></li>
                    <li><a href="#">产品中心<i class="iconfont iconjiantou"></i></a></li>
                    <li><a href="#">设计师频道<i class="iconfont iconjiantou"></i></a></li>
                    <li><a href="#">联系我们<i class="iconfont iconjiantou"></i></a></li>
                </ul>
            </div>
            <div class="search">
                <a href="#"><i class="iconfont iconfangdajing"></i></a>
            </div>
        </div>
    </div>
</body>

</html>
